{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    <h1>{{ article.title }}</h1>

    {# MODIFIER UN ARTICLE#}
    {% if app.user == article.user or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('article_edit', {'slug': article.slug}) }}" class="btn btn-primary">Modifier</a>
    {% endif %}

    <p>
        Catégorie : <a href="{{ path('category_show', {'id': article.category.id}) }}">{{ article.category.label }}</a>
    </p>
    <p>Utilisateur : {{ article.user.email }}</p>
    <ul>
        {% for tag in article.tags %}
            <li>
                <a href="{{ path('tag_show', {'id': tag.id}) }}">
                    {{ tag.label }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h3>Commentaires :</h3>

    {% if app.user %}
        {{ render(controller('App\\Controller\\CommentController::new', { 'article': article })) }}
    {% else %}
        <p>Veuillez vous <a href="{{ path('app_login') }}">connecter</a></p>
    {% endif %}

    <section>
        {% for comment in comments %}
            <article>
                <em>{{ comment.createdAt|date('d-m-y h-i-s') }}</em>
                <p>{{ comment.content }}</p>
            </article>
        {% endfor %}
    </section>

    <img src="{{ asset('uploads/' ~ article.picture) }}" alt="">

{% endblock %}
